
#payment {
	margin: 0 auto;
	width: 50% !important;
	padding: 20px 0;
	text-align: left;

	ul {
		list-style: none;
		padding: 0;
	}

	// input[id="payment_method_paypal"] {
	// 	float: left;
	// 	margin-right: 20px;
	// }

	// label[for="payment_method_paypal"] {
	// 	float: left;
	// 	img {
	// 		display: block;
	// 	}
	// }

	.woocommerce form .form-row {
		padding: 40px !important;
	}

	

	input[type="submit"] {
		display: block;
		clear: both !important;
	}

	label[for="payment_method_cod"], label[for="payment_method_paypal"] {
		// float: left;
	}

	// button {
	// 	float: none !important;
	// }
}

.footer {
	clear: both;
}


// Form Layout Styling - imitates the container centering of container
.wc-bookings-booking-form{
	position: relative;
	display: block;
	overflow: hidden;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 0px 30px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(53, 53, 53, 0.8);
	border-radius: 0px;
	background-image: -webkit-linear-gradient(270deg, rgba(34, 34, 34, 0.75), rgba(34, 34, 34, 0.75)), url(images/avalong-demoshot.jpg);
	background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.75), rgba(34, 34, 34, 0.75)), url(images/avalong-demoshot.jpg);
	background-position: 0px 0px, 0px 0px;
	background-size: auto, cover;
	box-shadow: 1px 1px 3px 0 #000;
	
}

// @media screen and (max-width: 700px){
// 		.wc-bookings-booking-form { 
// 			transform: scale(.7);
// 		}
// 	}


// Overrides white bg color on majority of calendar body
.wc-bookings-date-picker .ui-widget-content {
	background: transparent;
}

.wc-bookings-booking-cost {
	clear: both;
}

.wc-bookings-booking-form .form-field input[type=number] {
	width: 100%;
	background: transparent;
	border: 0;
	padding: 20px;
	border-bottom: 1px solid rgba(53, 53, 53, 0.8);
	margin-bottom: 10px;
	text-align: center;
	font-size: 30px;
	&:focus {
		outline: none;
		border-bottom: 1px solid red;
		background: rgba(0,0,0,0.1);

	}
}

.variation {
	padding: 0 20px;
}

.booking-section {
	.price {
		opacity: 0;
	}
}



.wc_bookings_field_duration {
	padding: 0 !important;
	width: 50%;
	float: left;
	label {
		font-family: 'Lato', sans-serif;
	}
}

.woocommerce-product-details__short-description {
	width: 500px;
	margin: 0 auto;
}

.wc-bookings-date-picker .ui-datepicker {
	padding: 0 0;
}

.text-span-26 {
	right: 6px !important;
	top: 3px !important;
}

.ui-datepicker-today span{
	background-color: red !important;
}

// Month Header Styling ie: October - November - December - etc
.wc-bookings-date-picker .ui-datepicker-header {
	position: relative;
	background: transparent;
	margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(53, 53, 53, 0.8);
    font-family: Dosis, sans-serif;
    color: #ebebeb;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    border-radius: 0px;
    border-top: 1px solid rgba(53,53,53,0.8);
}

// Incomplete - left arrow styling
.wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev{
	position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    font-family: Fontawesome, sans-serif;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    background-color: initial;
    height: 100%;
    background-image: linear-gradient(15deg, transparent 56%, rgba(255, 255, 255, 0.19));
    box-shadow: rgba(0, 0, 0, 0.77) -1px 0px 0px 0px, rgba(53, 53, 53, 0.8) 1px 0px 0px 0px;
    font-family: Lato, sans-serif;
    color: var(--swatch_92645b5f);
    font-size: 12px;
    line-height: 25px;
    text-shadow: black 1px 1px 6px;
}

.wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev.ui-state-hover, .wc-bookings-date-picker .ui-datepicker .ui-datepicker-next.ui-state-hover {
	background: linear-gradient(15deg, transparent 46%, rgba(255, 255, 255, 0.19));

}

.wc-bookings-date-picker .ui-datepicker .ui-datepicker-next{
	position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    font-family: Fontawesome, sans-serif;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    background-color: initial;
    height: 100%;
    background-image: linear-gradient(15deg, transparent 56%, rgba(255, 255, 255, 0.19));
        box-shadow: rgba(53, 53, 53, 0.8) -1px 0px 0px 0px;
    font-family: Lato, sans-serif;
    color: var(--swatch_92645b5f);
    font-size: 12px;
    line-height: 25px;
    text-shadow: black 1px 1px 6px;
}

// Sets font of weekday names and calendar numbering also removes borders
.wc-bookings-date-picker .ui-datepicker table {
	font-family: Dosis, sans-serif;
	border-collapse: initial;
}

.ui-state-disabled {
	opacity: initial !important;
	// text-decoration: line-through;
	span {
		color: rgba(0,0,0,0.25);
	}
}

// Calendar Date circle styling
.wc-bookings-date-picker .ui-datepicker td .ui-state-default {
	// display: block;
	color: white;
    // width: 80px;
    // height: 80px;
    // margin: 5px auto;
    // border-radius: 53%;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
    font-family: Dosis, sans-serif;
    // color: #ebebeb;
    color: rgb(130, 96, 105);
    line-height: 60px;
    // cursor: pointer;
    padding: 0 !important;
}

// Dates that are unavailable have a different cursor
.ui-datepicker-unselectable span {
	cursor: not-allowed !important;
}

// Coloring for dates that are available
.wc-bookings-date-picker .ui-datepicker td.bookable a {
	background-color: transparent !important;
	background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
    font-family: Dosis, sans-serif;
	&:hover {
		background-image: -webkit-linear-gradient(#d1203d, #d1203d) !important;
		background-image: linear-gradient(#d1203d, #d1203d) !important;
	}

	&:before {
		border-top: pink;
	}
}

.wc-bookings-date-picker .ui-datepicker td.ui-datepicker-other-month {
	background: rgba(255,255,255,0.2);
}

.wc-bookings-date-picker .ui-datepicker td.partial_booked a:before {
	border-radius: 37px 0px 0px 0px;
}

.ui-datepicker-today a {
	background-color: #d1203d !important;
}

.wc-bookings-date-picker .ui-datepicker td {
	// padding-left: 10px !important;
	// padding-right: 10px !important;
	border: none;
	background: transparent;
}

.wc-bookings-date-picker .ui-datepicker th {
	background: transparent;
	padding: 2em;
	border-bottom: 1px solid rgba(53, 53, 53, 0.8);
	border-top: initial;
	color: white;
}

.wc-bookings-booking-form .form-field {
	padding: 0 1em;
	float: left;
	width: 50%;

}

.block {
	a {
		font-size: 12px;
	}
}

.block-picker {
	text-align: left;
}

.wc-bookings-booking-form .block-picker li.block {
	display: inline-block;
	float: none;
	width: calc(100%/3);
	padding-left: 5px;
	padding-right: 5px;
	a {
		width: 100% !important;
		margin-top: 5px;
	    margin-bottom: 5px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    background-image: -webkit-linear-gradient(270deg, #d1203d, #d1203d);
	    background-image: linear-gradient(180deg, #d1203d, #d1203d);
	    color: #ebebeb;
	    cursor: pointer;
	    &:hover {
	    	background-image: linear-gradient(180deg, #9c001a, #9c001a);
	    	}
	}
}



.wc-bookings-booking-form label, .label {
	color: #ebebeb;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary {
	opacity: 1;
}

.wc-bookings-booking-form .block-picker li {
	color: white;
}

.woocommerce div.product div.summary {
	float: none;
	width: initial;
}

.woocommerce div.product .product_title {
	display: none;
}

.woocommerce div.product form.cart .button {
	float: none !important;
	display: block !important;
	margin: 0 auto !important;
	padding: 20px 30px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	background: initial;
	text-transform: uppercase;
	box-sizing: border-box;
	font-family: arial;
	font-size: 14px;
	clear: both;
	&:hover {
		background-color: #ce2441;
		border: 1px solid transparent;
	}
}

.wc-bookings-date-picker .ui-datepicker .ui-datepicker-title {
	padding: 0;
}

.wc-bookings-booking-form fieldset .picker.hasDatepicker {
	border-bottom: 1px solid;
}

.wc-bookings-booking-form .block-picker li a.selected {
	background-color: #fb0d1b !important;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,eaeaea+5,ce2441+5 */
background: rgb(234,234,234); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,238,23,1) 0%, rgba(255,238,23,1) 2%, rgba(206,36,65,1) 2%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,238,23,1) 0%,rgba(255,238,23,1) 2%,rgba(206,36,65,1) 2%)!important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,238,23,1) 0%,rgba(255,238,23,1) 2%,rgba(206,36,65,1) 2%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ce2441',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */

}

.wc-bookings-booking-form .wc-bookings-booking-cost {
	background: initial;
	border-top: initial;
	color: white;
	text-transform: uppercase;
	font-size: 24px;
	font-family: Dosis;
	strong {
		font-weight: 100;
		text-decoration: underline;
	}
}

.text-span-26 {
	border: 1px solid white;
	background-image: initial !important;
	color: white;
	font-size: 14px !important;
	line-height: 29px !important;
	&:hover {
		color: red !important;
	}
}

@media screen and (max-width: 740px ) {
	.wc-bookings-booking-form {
		width: 100% !important;

	}
	.wc-bookings-date-picker .ui-datepicker {
		width: 100% !important;
		display: block !important;
	}
	.wc-bookings-date-picker .ui-datepicker table {
		width: 100% !important;
		display: block !important;
		position: relative !important;
	}

	thead, tbody, tr {
			display: block !important;
			width: 100% !important;
		}

		tr {
			td {
				width: 14.2% !important;
				display: inline-block !important;
			}
		}

	.wc-bookings-date-picker .ui-datepicker th {
		padding: 0px !important;
		width: 14.2%;
		display: inline-block !important;
		height: 60px;
		line-height: 60px;
	}
}

@media screen and (max-width: 500px) {
	.ui-datepicker-title {
		font-size: 6vw;
	}
}

@media screen and (max-width: 467px ) {
	.wc-bookings-booking-form .block-picker li.block {
		width: 50%;
		padding-left: 0;
		padding-right: 2px
	}
}

@media screen and (max-width: 740px) {
	#order_review {
		tr {
			td {
				display: block !important;
				width: initial !important;
			}
		}
	}
	
	.woocommerce-order {
		tr {
			td {
				display: initial !important;
				width: initial !important;
			}
		}
	}
}