.woocommerce {
    padding-top: 69px;
}

.woocommerce-MyAccount-orders, .my_account_bookings {
  background: none !important;
  color: #ebebeb;
  tr {
    height: 50px;
  }
}

.woocommerce-MyAccount-navigation-link--edit-address {
  display: none;
}

.woocommerce-EditAccountForm {
  font-family: Lato;
  input {
    border-width: 0 0 1px 0;
    border-color: rgba(53,53,53,0.8);
  }
  label, legend {
    padding: 0 20px;
    color: #ebebeb;
  }
  legend {
    padding: 10px 20px;
    font-size: 20px;
    color: #cf2441;
  }
}

.woocommerce a.button {
  margin: 5px;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 30px rgb(53,53,53) inset;
}


.col2-set, .woocommerce-checkout-review-order, table {
	p, h1, h2, h3, h4, h5 {
		color: #ebebeb;
	}

	input {
		//color: black !important;
	}
}

.woocommerce-billing-fields__field-wrapper {
    input {
    	font-family: Dosis, sans-serif !important;
    	padding: 8px 12px;
    	font-size: 15px;
    	&:focus {
    		border-color: white !important;
    	}
    }
}

.woocommerce-billing-fields {
	h3{
		font-weight: 300;
		text-transform: uppercase;
	}
}

.woocommerce .col2-set .col-1 {
	color: #ebebeb;
	border: 1px solid rgba(53, 53, 53, 0.8) !important;
	border-radius: initial !important;
	background-image: -webkit-linear-gradient(270deg, rgba(34, 34, 34, 0.75), rgba(34, 34, 34, 0.75)), url(images/avalong-demoshot.jpg);
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.75), rgba(34, 34, 34, 0.75)), url(images/avalong-demoshot.jpg);
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    box-shadow: 1px 1px 3px 0 #000;
    font-family: Lato, sans-serif !important;
    border-width: 1px 1px 0px !important;
    margin: 50px 0;
}

.woocommerce .col2-set .col-2 {
    color: #ebebeb;
    border: 1px solid rgba(53, 53, 53, 0.8) !important;
    border-radius: initial !important;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/bg_pic1.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/bg_pic1.jpg);
    background-position: 0px 0px, 0px 50%;
    background-size: auto, 1139px;
    background-repeat: repeat, no-repeat;
    box-shadow: 1px 1px 3px 0 #000;
    font-family: Lato, sans-serif !important;
    border-width: 1px 1px 0px !important;
    margin: 50px 0;
    h3 {
        color: #ebebeb;
    }
    table {
       tr {
        th:nth-child(1) {
             border: 1px solid rgba(53,53,53,0.8);
             border-width: 1px 1px 1px 0;
        }
        th:nth-child(2) {
             border: 1px solid rgba(53,53,53,0.8);
             border-width: 1px 0 1px 0;
        }
        td:nth-child(1) {
            border: 1px solid rgba(53,53,53,0.8);
             border-width: 1px 1px 1px 0;
        }
        td:nth-child(2) {
             border: 1px solid rgba(53,53,53,0.8);
             border-width: 1px 0 1px 0;
        }
       }
    }
}

.woocommerce table.shop_table {
    margin: 0;
    border-collapse: collapse;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
    background: transparent;

    div {
        padding: 2em !important;
    }
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: none;
    background: transparent;
    padding: 1em 2em;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 30px;
    font-family: Fontawesome, sans-serif;
    &:hover {
        border-color: rgba(194, 194, 194, 0);
        background-image: -webkit-linear-gradient(270deg, #d1203d, #d1203d);
        background-image: linear-gradient(180deg, #d1203d, #d1203d);
    }

    &:before {
        content: "&#xf271;";
    }
}



#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
    border-bottom: none;
}

.clear {
    p {
       &:nth-child(1), 
       &:nth-child(2), 
       &:nth-child(3), 
       &:nth-child(5),
       &:nth-child(6) {
        display: none;
       }
    }
}

.checkout_coupon {
    p {
        &:nth-child(1), 
        &:nth-child(2), 
        &:nth-child(3), 
        &:nth-child(5),
        &:nth-child(6) {
        display: block;
       }
    }
}

.wc-bookings-booking-form {
    p {
        // color: #ebebeb;
        font-family: Dosis;
    }
}

// .wc-bookings-booking-form {
//     .booking-left {
//         float: left;
//         width: 49%;
//     }
//     .booking-right {
//         float: right;
//         width: 49%;
//         text-align: center;
//         color: #ebebeb;

//         input {
//             background: transparent;
//             padding: 10px 0px 10px 10px;
//             border: 1px solid rgba(167, 167, 167, 0.8);
//             color: #ebebeb;
//             font-size: 15px;
//             font-family: Dosis;
//             width: auto !important;
//             outline: none;
//         }
//     }
// }

// .wc-bookings-booking-cost {
//     clear: both;
// }

.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  display: none;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f0f0f+0,000000+100 */
background: rgb(15,15,15); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(15,15,15,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(15,15,15,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(15,15,15,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    h3 {
        font-family: Lato;
        font-weight: 300;
    }

}

.image-30 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32px;
}

.woocommerce-cart-form {
    table {
      
        dt {
            text-decoration: underline;
        }
    }
}

.woocommerce-cart-form__contents {
  thead {
    background-color: rgba(0,0,0,0.5);
    
    th {
      font-family: Lato;
      font-weight: 100;
    }
  }
}

.woocommerce table.shop_table th {
  border: 1px solid rgba(53,53,53,0.8) !important;
  font-family: Lato !important;
  font-weight: 100;
}

.cart-coupon {
  padding: 20px;
  background: transparent;
  display: inline-block;
  width: 200px;
  color: #ebebeb; 
}

.woocommerce table.shop_table td {
  text-align: center;
  padding: 0 !important;
}

.woocommerce-cart-form__cart-item {
  .product-name {
    border: 1px solid rgba(53,53,53,0.8);
    dt, dd {
      border: 1px solid rgba(53,53,53,0.4);
      border-width: 0 0 1px 0;
      padding: 20px;
    }
    
  }
  td {
    border: 1px solid rgba(53,53,53,0.8);
  }
}

.woocommerce a.remove {
  margin: 0 auto;
}

.cart-bg {
  color: #ebebeb;
    border: 1px solid rgba(53, 53, 53, 0.8) !important;
    border-radius: initial !important;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/bg_pic1.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/bg_pic1.jpg);
    background-position: 0px 0px, 0px 50%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    box-shadow: 1px 1px 3px 0 #000;
    font-family: Lato, sans-serif !important;
    border-width: 1px 1px 0px !important;
    margin: 50px 0;
        font-family: Dosis;
        // color: #ebebeb;
}

.cart_totals {
  table{
    tbody {
      tr {
        border: 1px solid rgba(53,53,53,0.8) !important;
      }
      border: 1px solid rgba(53,53,53,0.8) !important;
    }
    td {
      // border: 1px solid white;
      border-top: 1px !important;
    }
    border: 1px solid white;
  }
}

.custom-remove {
  color: #ebebeb; 
  font-size: 12px; 
  display: block;
  transition: color .3s;
  font-family: Fontawesome, arial;
  &:hover {
    color: #cf2441;
  }
}

.cart_support {
  float: left;
  width: 48%;
}

.hover-link {
  color: #cf2441;
  cursor: pointer;
}

.woocommerce ul.order_details li {
  float: none;
  font-family: Dosis;
  color: #ebebeb;
  display: inline-block;
}

.woocommerce-order {
  table {
    color: #ebebeb;
    tr{
      td{
        border: 1px solid rgba(53,53,53,0.8) !important;
      }
    }
    tfoot {
      td {
        border: 1px solid rgba(53,53,53,0.8) !important;
      }
    }
  }
}

.woocommerce table.shop_table{
  border: 1px solid rgba(53, 53, 53, 0.8) !important;
    border-radius: initial !important;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.55), rgb(0, 0, 0)), url(images/bg_pic1.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgb(0, 0, 0)), url(images/bg_pic1.jpg);
    background-position: 0px 0px, 0px 50%;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    box-shadow: 1px 1px 3px 0 #000;
    font-family: Lato, sans-serif !important;
    border-width: 1px 1px 0px !important;
    margin: 50px 0;
    font-family: Dosis;
    a {
      color: #cf2441;
    }
    .product-total {
      border: 1px solid rgba(255,255,255,0.2);
    }
}

.wc_payment_method{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(49, 49, 49, 0.2);
  width: 49%;
  float: left;
  &:hover {
    // background-color: red;
  }
  &:nth-child(1) {
    margin-right: 10px;
  }

  img, a {
    display: none;
  }

  label {
    padding: 24px 0;
    color: white;
    margin-left: 30px;
    margin-bottom: 0;
  }
  
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
   }
}

.woocommerce #payment .terms, .woocommerce #payment .wc-terms-and-conditions {
  margin-bottom: 10px !important;
  text-align: center !important;
  float: none !important;
  clear: both;
}

.woocommerce-terms-and-conditions-link {
  color: #cf2441;
}

.woocommerce #payment #place_order {
  margin: 0 auto;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin: 20px 20px;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
}

.wc_payment_method:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.wc_payment_method input:checked ~ .checkmark {
    background-color: #cf2441;
}

/* Show the indicator (dot/circle) when checked */
.wc_payment_method input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.wc_payment_method .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}





.wc-booking-summary {
  border-radius: 0;
  border: none;
  //border-width: 1px 1px 0px 0;
  color: #ebebeb;
  a {
    color: #cf2441;
  }
  .status-pending-confirmation{
    background-color: #cf2441 !important;
  }
}

.woocommerce {
  p {
    color: #ebebeb;
  }
}

.woocommerce-billing-fields__field-wrapper {
  input{
    border-width: 0 0 1px 0;
  border-color: rgba(53,53,53,0.8);
  }
  
}



.select2-container--default .select2-selection--single {
  border: none;
  background-color: rgba(0,0,0,0.5);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #888888;
  font-family: Dosis;
}

.select2-dropdown {
  background-color: #0c0c0c;
  color: #ebebeb;
}

.select2-container--open .select2-dropdown--below {
  color: #c7c7c7;
  font-family: Dosis;
  border-top: 1px !important;
}

.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: #cf2441;
}

.select2-container--default .select2-results__option[data-selected=true] {
  background-color: rgba(255,255,255,0.4);
}

@media screen and (max-width: 767px){
  .custom-remove {
    font-size: 1.5vw;
  }
}


